.room-image {
  width: 250px !important;
  height: 250px !important;
  border-radius: 100%;
  margin-bottom: 2rem;
}

.swiper-container {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 1124px;
  }
}
