.text {
  text-transform: uppercase;
    color: var(--clr-light-blue);
    font-size: .75rem;
    color: hsl(213, 96%, 18%);
}

.body {
  margin-top: 0.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: hsl(213, 96%, 18%);
}