.input {
  width: 100%;
  margin-top: 0.1875rem;
  font-size: 0.9375rem;
  font-weight: 500;
  color: hsl(213, 96%, 18%);
  padding: 0.6875rem 1rem 0.75rem;
  border-radius: 4px;
}

.input > div {
  padding: 0.6875rem 1rem 0.75rem;
}

@media only screen and (min-width: 1024px) {
  .input {
    margin-top: 0.5rem;
    font-size: 1rem;
    padding: 0.9375rem 1rem;
  }
}
