.container {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    gap: 2rem;
    width: 24.125rem;

    /* height: 100%; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    padding: 2.5rem 2rem;
    text-align: center;
    color: #fff;
  }
}
