@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  padding-top: 3rem;
  position: relative;
}

.bg-decorative {
  background: url("https://images.unsplash.com/photo-1565182999561-18d7dc61c393?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .main-container {
    width: calc(100% - 25%);
    left: 25%;
    position: relative;
    padding-top: 3rem;
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  .main-container {
    width: calc(100% - 25%);
    left: 25%;
    position: relative;
    padding-top: 3rem;
    right: 0;
  }
}
